Code*
dconf
gtk*
*.bak


pavucontrol.ini
pulse
systemd
flameshot
discord
neofetch
filelightrc
htop
spotifyd
kraxarn
nordvpn
transmission
qBittorrent
GitKraken
vlc
Google
Android*
Postman
mimeapps.list
QtProject.conf
BetterDiscord*
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.10
.local/bin/flask
.local/bin/fonttools
.local/bin/move_to_laptop.py
.local/bin/move_to_laptop.sh
.local/bin/move_to_laptop_copy.sh
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.local/bin/epylint
.local/bin/flake8
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pylint
.local/bin/pylsp
.local/bin/pyreverse
.local/bin/symilar
.local/bin/v
.local/bin/yapf
.local/bin/yapf-diff
.config/kconf_updaterc
.config/kdeglobals
.config/picom/log
.local/bin/autopep8
.local/bin/dmypy
.local/bin/mypy
.local/bin/mypyc
.local/bin/pycodestyle
.local/bin/pyxel
.local/bin/stubgen
.local/bin/stubtest
.vscode/

.config/google-chrome/

.config/autostart/
.config/font-manager/
.config/pcloud/
.config/cubocore/
.config/coreapps/
.config/Exodus/

.config/libreoffice/
.config/Metronomek/
.config/NuGet/
.config/Webcamoid/
.config/advanced-rest-client/
.config/lapce/
.config/xbuild/
.config/monero-project/

.dbus/
