# General folders to ignore
Code*
dconf
gtk*
*.bak
.vscode/
.dbus/

# config folders of applications from pacman
pavucontrol.ini
pulse
systemd
flameshot
discord
neofetch
filelightrc
htop
spotifyd
kraxarn
nordvpn
transmission
qBittorrent
GitKraken
vlc
Google
Android*
Postman
mimeapps.list
QtProject.conf
BetterDiscord*
.config/google-chrome/
.config/autostart/
.config/font-manager/
.config/pcloud/
.config/cubocore/
.config/coreapps/
.config/Exodus/
.config/libreoffice/
.config/Metronomek/
.config/NuGet/
.config/Webcamoid/
.config/advanced-rest-client/
.config/lapce/
.config/xbuild/
.config/monero-project/
.config/Ryujinx/
.config/GIMP/
.config/nomacs/
.config/JetBrains/
.config/asunder/
.config/pmbootstrap.cfg
.local/bin/chardetect
.local/bin/pmbootstrap
system/X11/xinit/xinitrc.d/80xapp-gtk3-module.sh

# For .local/bin files that should not be checked in
.local/bin/*p*
.local/bin/google-oauthlib-tool
.local/bin/normalizer
.local/bin/vim
.local/bin/wheel
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.10
.local/bin/flask
.local/bin/fonttools
.local/bin/move_to_laptop.py
.local/bin/move_to_laptop.sh
.local/bin/move_to_laptop_copy.sh
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.local/bin/epylint
.local/bin/flake8
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pylint
.local/bin/pylsp
.local/bin/pyreverse
.local/bin/symilar
.local/bin/v
.local/bin/yapf
.local/bin/yapf-diff
.config/kconf_updaterc
.config/kdeglobals
.config/picom/log
.local/bin/autopep8
.local/bin/dmypy
.local/bin/mypy
.local/bin/mypyc
.local/bin/pycodestyle
.local/bin/pyxel
.local/bin/stubgen
.local/bin/stubtest
.config/dijo/
.local/bin/git-sim
.local/bin/manim
.local/bin/manimce
.local/bin/srt
.local/bin/srt-fixed-timeshift
.local/bin/srt-linear-timeshift
.local/bin/srt-lines-matching
.local/bin/srt-mux
.local/bin/srt-normalise
.local/bin/tqdm
.local/bin/watchmedo