Code*
dconf
gtk*
*.bak

pull_extras.sh

pavucontrol.ini
pulse
systemd
flameshot
discord
neofetch
filelightrc
htop
spotifyd
kraxarn
nordvpn
transmission
qBittorrent
GitKraken
vlc
Google
Android*
Postman
mimeapps.list
